<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.empri.devops.gitprivacy.preferences.GitPrivacySettings"
            id="de.empri.devops.gitprivacy.preferences.GitPrivacySettings"
            name="Git Privacy Settings">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.empri.devops.gitprivacy.preferences.PreferenceInitializer">
      </initializer>
   </extension>
      <extension
         id="dd.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="initial"
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension point="org.eclipse.ui.propertyPages">
      <page
            class="de.empri.devops.gitprivacy.preferences.GitPrivacyPropertyPage"
            id="de.empri.devops.gitprivacy.preferences.GitPrivacyPage"
            name="Git Privacy">
      </page>
   </extension>
   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
         class="de.empri.devops.gitprivacy.preferences.CommitHasEncryptedDatesPropertyTester"
         id="de.empri.devops.gitprivacy.CommitHasEncryptedDatesTester"
         namespace="GitHistorySelection"
         properties="hasEncryptedDates"
         type="org.eclipse.egit.core.internal.IRepositoryCommit">
      </propertyTester>
   </extension>
   <extension point="org.eclipse.core.expressions.definitions">
      <definition id="de.empri.devops.gitprivacy.githistory.menucontribution.visible">
         <with variable="selection">
            <and>
               <count value="1" />
               <instanceof value="org.eclipse.jface.viewers.StructuredSelection" />
               <iterate ifEmpty="false">
                  <and>
                     <instanceof value="org.eclipse.egit.core.internal.IRepositoryCommit" />
	                 <adapt type="org.eclipse.egit.core.internal.IRepositoryCommit">
	                    <test 
	                    property="GitHistorySelection.hasEncryptedDates"
	                    forcePluginActivation="true"
	                     />
	                 </adapt>
	              </and>
               </iterate>
         </and>
         </with>
      </definition>
      <definition id="de.empri.devops.gitprivacy.menucontribution.initializeEgitPrivay.visible">
	      <with variable="selection">
	         <and>
	            <count value="1" />
	            <instanceof value="org.eclipse.jface.viewers.StructuredSelection" />
	         </and>
	      </with>
      </definition>
   </extension>

</plugin>
